@font-face {
  font-family: 'SB Sans Text Mono';
  font-weight: 400;
  src: url('../assets/fonts/SBSansDisplayRegular.woff2') format('woff2')
}

@font-face {
  font-family: 'SB Sans Interface';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  src: url('../assets/fonts/SBSansDisplaySemiBold.woff2') format('woff2')
}

@font-face {
  font-family: 'SB Sans Interface';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  src: url('../assets/fonts/SBSansInterface-Regular.woff2') format('woff2')
}
